@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;

}

header {
    position: sticky;
    z-index: 50;
    top: 0;
    width: 100%;
    display: block;
}

.nav {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    display: flex;
    height: 56px;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.nav .menu {
    display: inline-flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    -moz-box-align: stretch;
    align-items: stretch;
}

.nav .menu a {
    color: rgb(36, 36, 36);
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    padding: 16px;
    text-decoration: none;
}

.nav .menu a:hover {
    color: #74aa28;;
}

.nav .menu a img {
    height: 42px;
    margin-top: -6px;
}

.login {
    display: flex;
    flex-wrap: nowrap;
    -moz-box-align: center;
    align-items: center;
    height: 100%;
}

.login .btn {
    display: inline-block;
    min-width: 110px;
    margin-left: 16px;
}

.login .btn a {
    width: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 24px;
    background: none;
    border-color: #74aa28;
    box-shadow: 0px 0px 0px 1px inset;
    color: #74aa28;
    text-decoration: none;
    cursor: pointer;
}

.login .btn a:hover {
    background-color: #74aa28;
    color: white;
    transition: all .1s ease-in-out;

}

main {
    display: block;
}

.hero {
    background-image: url("https://images.unsplash.com/photo-1568623970736-27bea63b4489?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: 650px;
}

.info {
    max-width: 1140px;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    top: 0px;
    bottom: auto;
    text-align: center;
    max-width: 964px;
    position: relative;
    top: auto;
    bottom: auto;
}

.desc {
    display: flex;
    justify-content: center;

}

.text {
    width: 50%;


}

.text h1 {
    font-size: 40px;
    line-height: 48px;
    color: white;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;

}

.text h2 {
    margin-top: 10em;
    display: block;
    color: white;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.why {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 32px;
    background-color: #f8f8f8;
}

.why-text {
    padding-left: 16px;
    padding-right: 16px;
}

.why-text h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #242424;
    font-size: 20px;
    text-align: center;
    font-size: 24px;
    padding: 40px 10px 30px 10px;
}

.why-list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1140px;
    padding-left: 0;
    padding-right: 0;
}

.list-item {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: baseline;
    margin-left: -15px;
    margin-right: -15px;
}

.item-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.item-content h3 {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #242424;
    font-size: 18px;
    margin-bottom: 5px;
}

.item-content p {
    font-weight: 400;
    line-height: 20px;
    color: #242424;
    font-size: 14px;
    flex: 1;
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
}

.why-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px auto auto;
}

.why-button .btn {
    width: auto;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
}


.why-button .btn a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
    background-color: #74aa28;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.why-button .btn a:hover{
    background-color: #57811c;;
}
.menu {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 32px;
    background-color: #FFFFFF;
}

.menu-text {
    padding-left: 16px;
    padding-right: 16px;
}

.menu-text h2 {
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #242424;
    text-align: center;
    font-size: 24px;
    padding: 32px 10px 8px 10px;
}

.menu-text p {
    font-weight: 400;
    color: #242424;
    display: block;
    margin: auto;
    padding: 0 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 60%;
}

.carousell {
    margin-left: auto;
    margin-right: auto;

}

.carousell-choices {
    display: flex;
    column-gap: normal;
    justify-content: center;
    margin-top: 50px;
}

.carousell-content {
    width: calc(100% - 80px);
    margin: 0 5px;
    display: flex;
    justify-content: center;
    margin: 0;


}

.food {
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.food span {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 262px;
    height: 315px;
    background: none;
    opacity: 1;
    border: 0px none;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.food span img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: medium none;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.food-text {
    bottom: 24px;
    position: absolute;
    left: 16px;
    z-index: 1;
    display: flex;
    vertical-align: top;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 89%;
}

.food-text h3 {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    color: #242424;
    font-size: 18px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
    max-width: 90%;
}

.food-text p {
    color: #242424;
    background: #ffcf70;
    font-size: 14px;
    padding: 0 8px;
    border-radius: 3px;
    font-weight: 600;
    line-height: 1.5;
    max-width: 95%;
}

footer {
    
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(228, 228, 228);
    flex-direction: column;
}

.footer-content {
    display: flex;
    width: 100%;
    padding: 48px 120px;
    justify-content: center;
}

.footer-content div {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footer-content div h4 {
    color: rgb(36, 36, 36);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.footer-content div a {
    color: inherit;
    margin: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #74aa28;
}